
/* 左侧竖条样式 */
div.timenode {
    position: sticky
}
div.timenode:after,div.timenode:before {
    content: '';
    z-index: 1;
    position: absolute;
    background: rgba(61,217,182,.5);
    width: 2px;
    left: 7px
}
div.timenode:before {
    top: 0;
    height: 6px
}
div.timenode:after {
    top: 26px;
    height: calc(100% - 26px)
}

/* 限宽 */
div.timenode .body,div.timenode .meta {
    max-width: calc(100% - 24px)
}

/* 时间标注样式 */
div.timenode .meta {
    position: relative;
    color: #888;
    line-height: 32px;
    height: 32px
}
div.timenode .meta p {
    font-weight: 700;
    font-size: 80%;
    margin: 0 0 0 24px
}

/* 左侧圆圈 */
div.timenode .meta:after,div.timenode .meta:before {
    content: '';
    position: absolute;
    top: 8px;
    z-index: 2
}
div.timenode .meta:before {
    background: rgba(61,217,182,.5);
    width: 16px;
    height: 16px;
    border-radius: 8px;
}
div.timenode .meta:after {
    background: #3dd9b6;
    margin-left: 2px;
    margin-top: 2px;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    transform: scale(.5);
	transition: all .28s ease;
	
}

/*鼠标滑动效果*/
div.timenode .meta:hover {
    color: var(--body-text-color)
}
div.timenode:hover .meta:before {
    background: rgba(255,87,34,.5)
}
div.timenode:hover .meta:after {
    background: #ff5722;
    transform: scale(1);
}

/* 内容框样式 */
div.timenode .body {
	background: #f6f6f6;
    margin: 4px 0 10px 24px;
    padding: 5px;
    border-radius: 8px;
    display: -webkit-box;
    display: -moz-box;
    display: inline-block
}
[data-scheme=dark] div.timenode .body {
    background: #3a3636;
}



.article-content h1 ,
.article-content h2 ,
.article-content h3 {
	font-weight: 700;
	background: linear-gradient(to bottom, transparent 0, rgba(189,202,219,0.3) 0) no-repeat;
	width: auto;
}

.article-content h3{
	font-weight: 500;
	position: initial;
}



div.note {
    position: relative;
    /* margin-top:1em; */
    margin-bottom: 1em;
    padding: 4px;
    padding-left: calc(16px + 16px);
    border-radius: 62px;
    -webkit-border-radius: 4px;
    color : var(--card-text-color-main);
    background: #f6f6f6;
    border-left: 4px solid #3dd9b6
}
[data-scheme=dark] div.note {
    background: #3a3636;
}

div.note h2,div.note h3,div.note h4,div.note h5,div.note h6 {
    margin-top: 3px;
    margin-bottom: 0;
    padding-top: 0!important;
    border-bottom: initial
}

div.note blockquote,div.note img,div.note ol,div.note p,div.note ul {
    margin-top: .5em;
    margin-bottom: .5em
}


div.note::before {
    position: absolute;
    top: calc(50% - 24px * .5);
    left: 4px;
    width: 24px;
    height: 24px;
    text-align: center;
    font-weight: 600;
    line-height: 24px;
    vertical-align: middle;
    font-family: 'Font Awesome 6 Pro'
}

div.note::before {
    color: #3dd9b6;
    content: '\f054'
}

div.note::before {
    content: '\f054'
}

div.note.quote {
    border-color: #2196f3
}

div.note.quote::before {
    color: #2196f3;
    content: '\f10d'
}

div.note.info {
    border-color:#3dd9b6; 
}

div.note.info::before {
    color: #3dd9b6;
    content: '\f129'
}

div.note.done,div.note.success {
    border-color: #3dc550
}

div.note.done::before,div.note.success::before {
    color: #3dc550;
    content: '\f00c'
}

div.note.warning {
    border-color: #ffbd2b
}

div.note.warning::before {
    color: #ffbd2b;
    content: '\f12a'
}

div.note.danger,div.note.error {
    border-color: #fe5f58
}

div.note.danger::before,div.note.error::before {
    color: #fe5f58;
    content: '\f7b9'
}
.article-content emp {
    border-bottom: 4px dotted #fe5f58;
}
.article-page .main-article .article-content a{
    color :#2092ec;
}

.wl-reaction-title {
    color : var(--card-text-color-main)
}

@font-face
{
    font-family: 'Font Awesome 6 Pro';
    src: url('https://font.onmicrosoft.cn/font6pro@6.2.0/webfonts/fa-solid-900.woff2');
    font-weight: 900;  
}

:root {
    --sys-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Droid Sans", "Helvetica Neue";
    --zh-font-family: "PingFang SC", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei";
    
    --base-font-family: "Roboto", "Noto Serif SC", "PingFang SC", "Microsoft Yahei UI", "Microsoft Yahei", var(--sys-font-family), var(--zh-font-family), sans-serif, "Font Awesome 6 Pro";
    --code-font-family: var(--base-font-family), monospace;
}